body{
background:#f7f8fa;
}

/* HEADER */
.header{
position:sticky;
top:0;
background:#c40000;
padding:12px;
z-index:100;
}

.header input{
border-radius:30px;
}

/* CARD */
.sole-card{
background:#fff;
border-radius:12px;
padding:10px;
margin-bottom:12px;
display:flex;
gap:12px;
transition:.3s;
box-shadow:0 2px 6px rgba(0,0,0,.08);
}

.sole-card:hover{
transform:scale(1.02);
}

.sole-img{
width:90px;
height:90px;
border-radius:10px;
object-fit: fill ;
cursor:pointer;
padding: 4px ;
border: 2px solid #c40000 ;
}

.price{
color:#c40000;
font-weight:700;
}

.size{
background:#ffeaea;
color:#c40000;
padding:3px 10px;
border-radius:20px;
font-size:12px;
}

/* MODAL GALLERY */
.modal-content{
border-radius:16px;
overflow:hidden;
background:#000;
}

.modal-body{
height:70vh;
display:flex;
align-items:center;
justify-content:center;
position:relative;
}

.modal-body img{
max-width:100%;
max-height:100%;
object-fit:contain;
}

.nav-btn{
position:absolute;
top:50%;
transform:translateY(-50%);
font-size:28px;
color:#fff;
cursor:pointer;
background:rgba(0,0,0,.4);
width:42px;
height:42px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
}

.left{left:10px;}
.right{right:10px;}

